.table-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 30px 0;

  .tables {
    width: 80vw;
    border: 1px solid black;

    .header {
      background-color: rgb(27, 27, 27);
      .title {
        color: rgb(238, 238, 238);
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      display: flex;
      justify-content: center;
      border-top: 1px solid grey;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      height: 60px;
    }
  }
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
  .table-container {
    margin: 10px 0;

    .tables {
      width: 95vw;
      .text {
        font-size: 10px;
      }
      .header {
        .title {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
    .table-container {
        .tables {
          width: 90vw;
        }
      }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table-container {
    .tables {
      width: 90vw;
    }
  }
}
